@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  color: #cfd8dc;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
html,body {

  height: 100%;
}

body {
  background: #2b3a42;
  padding-top: 10px;
}
