
@media (min-width: 768px) {

  .container{
    flex-direction: row;
  }
  .table-container {
    width: 40vw;


  }
}

@media (min-width: 1200px) {

  .container{
    flex-direction: row;
    justify-content: space-around;
  }
  .table-container {
    max-width: 30vw;


  }
}
